{{ define "root" }}
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/assets/css/app.css">
	</head>
	<body>

		<h3>{{ .Selected.T "MainTextTrans" }}</h3>
		{{ range $idx, $loc := .Locales }}
			<a class="loc{{ if eq $loc.Locale $.Selected.Locale }} selected{{ end }}" href="/?locale={{ $loc.Locale }}">{{ $loc.Locale }}</a>
		{{ end }}

		<br/>
		<div>{{ .Selected.T "TimeTrans" }}:{{ .Time }}</div>
		<div>{{ .Selected.T "NumberTrans" }}:{{ .Number }}</div>
		<div>{{ .Selected.T "NegativeNumberTrans" }}:{{ .NegativeNumber }}</div>
		<div>{{ .Selected.T "PercentTrans" }}:{{ .Percent }}</div>
		<div>{{ .Selected.T "LocaleTrans" }}:{{ .Selected.Locale }}</div>
	
		<p>{{ .Selected.T "NumberSectionTrans" }}</p>
		<div>{{ .Selected.T "PositiveTrans" }}:{{ .Selected.FmtNumber .Number 2 }}</div>
		<div>{{ .Selected.T "NegativeTrans" }}:{{ .Selected.FmtNumber .NegativeNumber 2 }}</div>

		<p>{{ .Selected.T "PercentSectionTrans" }}</p>
		<div>{{ .Selected.T "PositiveTrans" }}:{{ .Selected.FmtPercent .Percent 2 }}</div>
		<div>{{ .Selected.T "NegativeTrans" }}:{{ .Selected.FmtPercent .Percent 2 }}</div>

		<p>{{ .Selected.T "DateSectionTrans" }}</p>
		<div>{{ .Selected.T "ShortTrans" }}:{{ .Selected.FmtDateShort .Time }}</div>
		<div>{{ .Selected.T "MediumTrans" }}:{{ .Selected.FmtDateMedium .Time }}</div>
		<div>{{ .Selected.T "LongTrans" }}:{{ .Selected.FmtDateLong .Time }}</div>
		<div>{{ .Selected.T "FullTrans" }}:{{ .Selected.FmtDateFull .Time }}</div>

		<p>{{ .Selected.T "TimeSectionTrans" }}</p>
		<div>{{ .Selected.T "ShortTrans" }}:{{ .Selected.FmtTimeShort .Time }}</div>
		<div>{{ .Selected.T "MediumTrans" }}:{{ .Selected.FmtTimeMedium .Time }}</div>
		<div>{{ .Selected.T "LongTrans" }}:{{ .Selected.FmtTimeLong .Time }}</div>
		<div>{{ .Selected.T "FullTrans" }}:{{ .Selected.FmtTimeFull .Time }}</div>

		<p>{{ .Selected.T "MonthsSectionTrans" }}</p>
		<div>{{ .Selected.T "NarrowTrans" }}: {{ .Selected.MonthsNarrow }}</div>
		<div>{{ .Selected.T "AbbreviatedTrans" }}: {{ .Selected.MonthsAbbreviated }}</div>
		<div>{{ .Selected.T "WideTrans" }}: {{ .Selected.MonthsWide }}</div>

		<p>{{ .Selected.T "WeekdaysSectionTrans" }}</p>
		<div>{{ .Selected.T "NarrowTrans" }}: {{ .Selected.WeekdaysNarrow }}</div>
		<div>{{ .Selected.T "AbbreviatedTrans" }}: {{ .Selected.WeekdaysAbbreviated }}</div>
		<div>{{ .Selected.T "WideTrans" }}: {{ .Selected.WeekdaysWide }}</div>

		<p>{{ .Selected.T "PluralsSectionTrans" }}</p>
		<div>{{ .Selected.T "CardinalTrans" }}: {{ .Selected.PluralsCardinal }}</div>
		<div>{{ .Selected.T "OrdinalTrans" }}: {{ .Selected.PluralsOrdinal }}</div>
		<div>{{ .Selected.T "RangeTrans" }}: {{ .Selected.PluralsRange }}</div>

		<p>{{ .Selected.T "NativeCurrencySectionTrans" }}</p>
		{{ range $idx, $cur := .NativeCurrencies }}
			<div>{{ $.Selected.T "PositiveTrans" }}: {{ $.Selected.FmtCurrency $.Number 2 $cur }}</div>
			<div>{{ $.Selected.T "NegativeTrans" }}: {{ $.Selected.FmtCurrency $.NegativeNumber 2 $cur }}</div>
		{{ end }}

		<p>{{ .Selected.T "OtherCurrencySectionTrans" }}</p>
		{{ range $idx, $cur := .OtherCurrencies }}
			<div>{{ $.Selected.T "PositiveTrans" }}: {{ $.Selected.FmtCurrency $.Number 2 $cur }}</div>
			<div>{{ $.Selected.T "NegativeTrans" }}: {{ $.Selected.FmtCurrency $.NegativeNumber 2 $cur }}</div>
		{{ end }}

		<p>{{ .Selected.T "NativeCurrencyAccountingSectionTrans" }}</p>
		{{ range $idx, $cur := .NativeCurrencies }}
			<div>{{ $.Selected.T "PositiveTrans" }}: {{ $.Selected.FmtAccounting $.Number 2 $cur }}</div>
			<div>{{ $.Selected.T "NegativeTrans" }}: {{ $.Selected.FmtAccounting $.NegativeNumber 2 $cur }}</div>
		{{ end }}

		<p>{{ .Selected.T "OtherCurrencyAccountingSectionTrans" }}</p>
		{{ range $idx, $cur := .OtherCurrencies }}
			<div>{{ $.Selected.T "PositiveTrans" }}: {{ $.Selected.FmtAccounting $.Number 2 $cur }}</div>
			<div>{{ $.Selected.T "NegativeTrans" }}: {{ $.Selected.FmtAccounting $.NegativeNumber 2 $cur }}</div>
		{{ end }}

		{{ jquery }}
  		{{ livereload }}
  		<script src="/assets/js/locale.js"></script>
	</body>
</html>
{{ end }}