{{ define "root" }}
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/assets/css/app.css">
	</head>
	<body>
		{{ range $idx, $loc := .Locales }}
			<a class="loc{{ if eq $loc.Locale $.Selected.Locale }} selected{{ end }}" href="/?locale={{ $loc.Locale }}">{{ $loc.Locale }}</a>
		{{ end }}

		<br/>
		<div>Time:{{ .Time }}</div>
		<div>Number:{{ .Number }}</div>
		<div>Negative:{{ .NegativeNumber }}</div>
		<div>Percent:{{ .Percent }}</div>
		<div>Locale:{{ .Selected.Locale }}</div>
	
		<p>FmtNumber</p>
		<div>Positive:{{ .Selected.FmtNumber .Number 2 }}</div>
		<div>Negative:{{ .Selected.FmtNumber .NegativeNumber 2 }}</div>

		<p>FmtPercent</p>
		<div>Positive:{{ .Selected.FmtPercent .Percent 2 }}</div>
		<div>Negative:{{ .Selected.FmtPercent .Percent 2 }}</div>

		<p>Dates</p>
		<div>Short:{{ .Selected.FmtDateShort .Time }}</div>
		<div>Medium:{{ .Selected.FmtDateMedium .Time }}</div>
		<div>Long:{{ .Selected.FmtDateLong .Time }}</div>
		<div>Full:{{ .Selected.FmtDateFull .Time }}</div>

		<p>Times</p>
		<div>Short:{{ .Selected.FmtTimeShort .Time }}</div>
		<div>Medium:{{ .Selected.FmtTimeMedium .Time }}</div>
		<div>Long:{{ .Selected.FmtTimeLong .Time }}</div>
		<div>Full:{{ .Selected.FmtTimeFull .Time }}</div>

		<p>Months Narrow</p>
		<div>{{ .Selected.MonthsNarrow }}</div>

		<p>Months Abbreviated</p>
		<div>{{ .Selected.MonthsAbbreviated }}</div>

		<p>Months Wide</p>
		<div>{{ .Selected.MonthsWide }}</div>

		<p>Weekdays Narrow</p>
		<div>{{ .Selected.WeekdaysNarrow }}</div>

		<p>Weekdays Abbreviated</p>
		<div>{{ .Selected.WeekdaysAbbreviated }}</div>

		<p>Weekdays Wide</p>
		<div>{{ .Selected.WeekdaysWide }}</div>

		<p>Plurals Cardinal</p>
		<div>{{ .Selected.PluralsCardinal }}</div>

		<p>Plurals Ordinal</p>
		<div>{{ .Selected.PluralsOrdinal }}</div>

		<p>Plurals Range</p>
		<div>{{ .Selected.PluralsRange }}</div>

		{{ jquery }}
  		{{ livereload }}
  		<script src="/assets/js/locale.js"></script>
	</body>
</html>
{{ end }}